<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="../../static/css/official/official-notice.css"
        />
        <link rel="stylesheet" href="../../static/css/official/official.css" />
    </head>
    <body>
        <section>
            <div class="feelog-header-mainDiv" id="header-container"></div>
            <script>
                // Load header.html and insert it in#header-placeholder
                fetch("official-header.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById("header-container").innerHTML =
                            data;
                    })
                    .catch((error) =>
                        console.error("Error loading header:", error)
                    );
            </script>
            <div class="MuiStack-root joy-5635ou">
                <div class="MuiStack-root joy-155l5r7">
                    <div class="MuiStack-root joy-nta7m6">
                        <div
                            class="navigation-alert-container MuiBox-root joy-8atqhb"
                        ></div>

                        <main class="MuiStack-root joy-sm4i20">
                            <section class="MuiStack-root joy-rzjlho">
                                <div class="MuiStack-root joy-1386e1w">
                                    <h2
                                        class="MuiTypography-root MuiTypography-h2 joy-1h6i6bk"
                                    >
                                        포스트 486개
                                    </h2>
                                    <div class="MuiStack-root joy-11ht4d3">
                                        <button
                                            class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-18ontzg"
                                        >
                                            <span
                                                class="MuiTypography-root MuiTypography-body-md joy-8gqjfw"
                                                >최신순</span
                                            >
                                        </button>
                                        <hr
                                            class="MuiDivider-root MuiDivider-vertical joy-b23mmx"
                                        />
                                        <button
                                            class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-18ontzg"
                                        >
                                            <span
                                                class="MuiTypography-root MuiTypography-body-md joy-6vukl7"
                                                >인기순</span
                                            >
                                        </button>
                                    </div>
                                </div>
                                <section
                                    class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-row joy-16jsr8a"
                                >
                                    <div
                                        class="MuiGrid-root MuiGrid-direction-xs-row MuiGrid-grid-xs-1 joy-1h0rs5z"
                                    >
                                        <div class="MuiStack-root joy-1i7psr7">
                                            <div
                                                class="MuiStack-root normal-post joy-1doa5ik"
                                            >
                                                <div
                                                    class="MuiStack-root joy-pnjqrc"
                                                >
                                                    <a
                                                        href="/@blog/post/19114287"
                                                        class="MuiAspectRatio-root joy-8pli86"
                                                        ><div
                                                            class="MuiAspectRatio-content MuiAspectRatio-variantSoft MuiAspectRatio-colorNeutral joy-1h16"
                                                        >
                                                            <div
                                                                class="MuiBox-root joy-0"
                                                                data-first-child=""
                                                            >
                                                                <div
                                                                    class="MuiBox-root joy-2v1uk4"
                                                                >
                                                                    <img
                                                                        alt="포스트 3월 수익에 관한 가상 출금 정보 제공 안내"
                                                                        loading="lazy"
                                                                        decoding="async"
                                                                        data-nimg="fill"
                                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/24/12/55/40be7d13128072962910900921.png?w=400&amp;h=228&amp;q=65"
                                                                        style="
                                                                            position: absolute;
                                                                            height: 100%;
                                                                            width: 100%;
                                                                            inset: 0px;
                                                                            object-fit: cover;
                                                                            color: transparent;
                                                                        "
                                                                    />
                                                                </div>
                                                            </div></div></a
                                                    ><a
                                                        class="MuiStack-root joy-izk0jg"
                                                        href="/@blog/post/19114287"
                                                        ><div
                                                            class="MuiStack-root joy-2zp5r6"
                                                        >
                                                            <h3
                                                                class="MuiTypography-root MuiTypography-title-lg joy-mxs4ac"
                                                            >
                                                                3월 수익에 관한
                                                                가상 출금 정보
                                                                제공 안내
                                                            </h3>
                                                            <p
                                                                class="MuiTypography-root MuiTypography-body-md joy-efnxaq"
                                                            >
                                                                5월 수수료 정책
                                                                변경에 따른 후속
                                                                안내입니다.
                                                            </p>
                                                        </div></a
                                                    >
                                                </div>
                                                <div
                                                    class="MuiStack-root joy-j7qwjs"
                                                >
                                                    <div
                                                        class="MuiStack-root joy-5rg2pa"
                                                    >
                                                        <a
                                                            href="/search/post?keyword=포스타입&amp;options_tags=1"
                                                            class="MuiChip-root MuiChip-colorNeutral MuiChip-sizeSm MuiChip-variantSoft joy-c0nc3d"
                                                            ><span
                                                                class="MuiChip-label MuiChip-labelSm joy-tymi7a"
                                                                id=":rej:"
                                                                >포스타입</span
                                                            ></a
                                                        ><a
                                                            href="/search/post?keyword=포스타입&amp;options_tags=1"
                                                            class="MuiChip-root MuiChip-colorNeutral MuiChip-sizeMd MuiChip-variantSoft joy-7upex7"
                                                            ><span
                                                                class="MuiChip-label MuiChip-labelMd joy-tymi7a"
                                                                id=":rek:"
                                                                >포스타입</span
                                                            ></a
                                                        ><a
                                                            href="/search/post?keyword=공지사항&amp;options_tags=1"
                                                            class="MuiChip-root MuiChip-colorNeutral MuiChip-sizeSm MuiChip-variantSoft joy-c0nc3d"
                                                            ><span
                                                                class="MuiChip-label MuiChip-labelSm joy-tymi7a"
                                                                id=":rel:"
                                                                >공지사항</span
                                                            ></a
                                                        ><a
                                                            href="/search/post?keyword=공지사항&amp;options_tags=1"
                                                            class="MuiChip-root MuiChip-colorNeutral MuiChip-sizeMd MuiChip-variantSoft joy-7upex7"
                                                            ><span
                                                                class="MuiChip-label MuiChip-labelMd joy-tymi7a"
                                                                id=":rem:"
                                                                >공지사항</span
                                                            ></a
                                                        >
                                                    </div>
                                                    <a
                                                        class="MuiStack-root joy-rfw04i"
                                                        href="/@blog/post/19114287"
                                                        ><p
                                                            class="MuiTypography-root MuiTypography-body-sm joy-11jdcyo"
                                                        >
                                                            <span
                                                                class="MuiTypography-startDecorator joy-t6avop"
                                                                ><svg
                                                                    focusable="false"
                                                                    aria-hidden="true"
                                                                    viewBox="0 0 24 24"
                                                                    width="24"
                                                                    height="24"
                                                                    fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-2ysv9a"
                                                                >
                                                                    <path
                                                                        d="M11.999 5.125c-2.547 0-4.64 1.156-6.246 2.645C4.249 9.168 3.21 10.828 2.679 12c.531 1.172 1.57 2.832 3.07 4.23 1.61 1.489 3.703 2.645 6.25 2.645s4.64-1.156 6.246-2.645c1.504-1.398 2.543-3.058 3.074-4.23-.53-1.172-1.57-2.832-3.07-4.23-1.61-1.489-3.703-2.645-6.25-2.645ZM4.476 6.398c1.84-1.71 4.367-3.148 7.523-3.148 3.156 0 5.684 1.438 7.524 3.148 1.828 1.7 3.05 3.727 3.632 5.122.13.308.13.652 0 .96-.582 1.395-1.804 3.426-3.633 5.122-1.84 1.71-4.367 3.148-7.523 3.148-3.156 0-5.684-1.438-7.523-3.148-1.829-1.696-3.051-3.727-3.63-5.122a1.242 1.242 0 0 1 0-.96c.579-1.395 1.801-3.426 3.63-5.122Zm7.523 8.727a3.124 3.124 0 1 0 0-6.25h-.078a2.502 2.502 0 0 1-3.047 3.047V12a3.124 3.124 0 0 0 3.125 3.125Zm0-8.125a5 5 0 1 1 0 10 5 5 0 0 1 0-10Z"
                                                                        fill="currentcolor"
                                                                    ></path></svg></span
                                                            >2.7천
                                                        </p>
                                                        <p
                                                            class="MuiTypography-root MuiTypography-body-sm joy-11jdcyo"
                                                        >
                                                            <span
                                                                class="MuiTypography-startDecorator joy-t6avop"
                                                                ><svg
                                                                    focusable="false"
                                                                    aria-hidden="true"
                                                                    viewBox="0 0 24 24"
                                                                    width="24"
                                                                    height="24"
                                                                    fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-2ysv9a"
                                                                >
                                                                    <path
                                                                        d="m10.82 20.116-.097-.09-6.844-6.355A5.882 5.882 0 0 1 2 9.359v-.13C2 6.48 3.953 4.12 6.656 3.606A5.71 5.71 0 0 1 12 5.417a5.562 5.562 0 0 1 .977-.871 5.73 5.73 0 0 1 4.367-.945A5.73 5.73 0 0 1 22 9.23v.129c0 1.636-.68 3.199-1.879 4.312l-6.844 6.355-.097.09c-.32.297-.742.465-1.18.465a1.72 1.72 0 0 1-1.18-.465Zm.52-12.625a.205.205 0 0 1-.04-.043l-.695-.78-.003-.005A3.85 3.85 0 0 0 3.875 9.23v.13c0 1.113.465 2.18 1.281 2.937L12 18.651l6.844-6.355a4.012 4.012 0 0 0 1.281-2.937v-.13a3.851 3.851 0 0 0-6.723-2.566l-.004.004-.003.004-.696.781c-.011.016-.027.028-.039.043a.935.935 0 0 1-1.32 0v-.004Z"
                                                                        fill="currentcolor"
                                                                    ></path></svg></span
                                                            >12
                                                        </p></a
                                                    >
                                                    <div
                                                        class="MuiStack-root joy-js3z9i"
                                                    >
                                                        <a
                                                            href="/profile/@1ll3c6"
                                                            class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-nknx3c"
                                                            ><div
                                                                class="MuiAvatar-root MuiAvatar-variantSoft MuiAvatar-colorNeutral MuiAvatar-sizeXs2 joy-1fpbmdi"
                                                            >
                                                                <img
                                                                    alt="이용자 포스타입"
                                                                    src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                                    loading="lazy"
                                                                    class="MuiAvatar-img joy-1hy9t21"
                                                                /></div></a
                                                        ><a
                                                            class="MuiBox-root joy-1oxrhpy"
                                                            href="/profile/@1ll3c6"
                                                            ><p
                                                                class="MuiTypography-root MuiTypography-body-sm joy-1jd7el2"
                                                            >
                                                                포스타입
                                                            </p></a
                                                        >
                                                        <div
                                                            class="MuiStack-root joy-12qhz0"
                                                        >
                                                            <div
                                                                class="MuiStack-root joy-1r9kwv0"
                                                            >
                                                                <p
                                                                    class="MuiTypography-root MuiTypography-body-sm joy-ktwjae"
                                                                >
                                                                    ·2025. 4. 2.
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="MuiStack-root action-button joy-baexh4"
                                                            >
                                                                <button
                                                                    aria-label="북마크"
                                                                    class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-1ja7f1b"
                                                                    type="button"
                                                                >
                                                                    <svg
                                                                        focusable="false"
                                                                        aria-hidden="true"
                                                                        viewBox="0 0 24 24"
                                                                        width="24"
                                                                        height="24"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-17bmg2t"
                                                                    >
                                                                        <path
                                                                            d="M4.5 3.875C4.5 2.84 5.34 2 6.375 2v17.242l5.082-3.629a.933.933 0 0 1 1.09 0l5.078 3.63V3.874H6.375V2h11.25c1.035 0 1.875.84 1.875 1.875v17.188a.938.938 0 0 1-1.48.762L12 17.526l-6.02 4.297a.938.938 0 0 1-1.48-.762V3.875Z"
                                                                            fill="currentcolor"
                                                                        ></path>
                                                                    </svg></button
                                                                ><button
                                                                    tabindex="0"
                                                                    aria-haspopup="menu"
                                                                    aria-expanded="false"
                                                                    aria-controls=":ren:"
                                                                    aria-label="더 보기"
                                                                    class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm MuiMenuButton-root MuiMenuButton-variantOutlined MuiMenuButton-colorNeutral MuiMenuButton-sizeMd joy-aadkxt"
                                                                    type="button"
                                                                >
                                                                    <svg
                                                                        focusable="false"
                                                                        aria-hidden="true"
                                                                        viewBox="0 0 24 24"
                                                                        width="24"
                                                                        height="24"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-151ep5g"
                                                                    >
                                                                        <path
                                                                            d="M20.125 12a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm-6.25 0a1.875 1.875 0 1 1-3.751 0 1.875 1.875 0 0 1 3.751 0ZM5.75 13.875a1.875 1.875 0 1 1 0-3.75 1.875 1.875 0 0 1 0 3.75Z"
                                                                            fill="currentcolor"
                                                                        ></path>
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="MuiStack-root joy-jmtomr">
                                    <button
                                        aria-label="이전 페이지"
                                        class="MuiIconButton-root Mui-disabled MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-1ja7f1b"
                                        type="button"
                                        disabled=""
                                    >
                                        <svg
                                            focusable="false"
                                            aria-hidden="true"
                                            viewBox="0 0 24 24"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                        >
                                            <path
                                                d="M8.713 11.332a.934.934 0 0 0 0 1.325l5.25 5.254a.937.937 0 0 0 1.324-1.324l-4.586-4.59 4.59-4.586a.937.937 0 0 0-1.324-1.324l-5.254 5.245Z"
                                                fill="currentcolor"
                                            ></path>
                                        </svg></button
                                    ><button
                                        type="button"
                                        class="MuiIconButton-root MuiIconButton-variantSoft MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-179msl4"
                                    >
                                        1</button
                                    ><button
                                        type="button"
                                        class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-1ja7f1b"
                                    >
                                        2</button
                                    ><button
                                        type="button"
                                        class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-1ja7f1b"
                                    >
                                        3</button
                                    ><button
                                        type="button"
                                        class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-1ja7f1b"
                                    >
                                        4</button
                                    ><button
                                        type="button"
                                        class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-1ja7f1b"
                                    >
                                        5</button
                                    ><button
                                        aria-label="다음 페이지"
                                        class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-1ja7f1b"
                                        type="button"
                                    >
                                        <svg
                                            focusable="false"
                                            aria-hidden="true"
                                            viewBox="0 0 24 24"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                        >
                                            <path
                                                d="M15.291 11.332a.934.934 0 0 1 0 1.325l-5.25 5.254a.937.937 0 0 1-1.324-1.324L13.303 12l-4.59-4.59a.937.937 0 0 1 1.324-1.324l5.254 5.245Z"
                                                fill="currentcolor"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
