body {
    margin: 0;
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}

body {
    margin: 0px;
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}

body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

.joy-1k8t7d9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.joy-1ugbopb {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 500;
    background-color: #ffffff;
}

@media (min-width: 0px) {
    .joy-ck4ebb {
        padding-right: env(safe-area-inset-right);
        padding-left: env(safe-area-inset-left);
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media (min-width: 744px) {
    .joy-ck4ebb {
        padding-right: env(safe-area-inset-right);
        padding-left: env(safe-area-inset-left);
        padding-top: 8px;
        padding-bottom: 0px;
    }
}

.joy-ck4ebb {
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
}

@media (min-width: 0px) {
    .joy-1l037wq {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 744px) {
    .joy-1l037wq {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.joy-1l037wq {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.joy-16a347x {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.joy-1ja7f1b.MuiIconButton-sizeSm {
    --Icon-fontSize: 20px;
    min-width: 32px;
    min-height: 32px;
}

.joy-1ja7f1b {
    --Icon-margin: initial;
    --Icon-color: #76767f;
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
    --IconButton-size: 32px;
}

.joy-4rp8fm {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 1em;
    height: 1em;
    color: currentcolor;
}

.joy-nmd7go {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 320px;
}

.joy-2j5iyq {
    display: flex;
    flex-direction: row;
    gap: 12px;
    -webkit-box-align: center;
    align-items: center;
}

.joy-1mff26x {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #3e3e43;
    --Typography-gap: 0;
}

.joy-styn74 {
    display: inline-flex;
    margin-inline-start: clamp(4px, 0.375em, 0.75rem);
}

.joy-1u5xrkq {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

@media (min-width: 0px) {
    .joy-rntywo {
        display: none;
    }
}

@media (min-width: 744px) {
    .joy-rntywo {
        display: flex;
    }
}

.joy-rntywo.MuiIconButton-sizeMd {
    --Icon-fontSize: 24px;
    min-width: 40px;
    min-height: 40px;
}

.joy-rntywo {
    --Icon-margin: initial;
    --Icon-color: #76767f;
    --Icon-fontSize: 26.67px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 40px;
    min-height: 40px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
    --IconButton-size: 40px;
}

.joy-3oxsei.MuiButton-sizeSm {
    min-height: 32px;
    font-size: 14px;
}

.joy-3oxsei {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: 18px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.375rem;
    min-height: 32px;
    font-size: 14px;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: var(--Button-margin);
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #ffffff;
    background-color: #202022;
    font-weight: 500;
}

@media (min-width: 0px) {
    .joy-2l1lnm {
        height: 40px;
        padding-top: 4px;
        padding-bottom: 4px;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 744px) {
    .joy-2l1lnm {
        height: 48px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.joy-2l1lnm {
    width: 100%;
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
    display: flex;
    position: relative;
}

@media (min-width: 0px) {
    .joy-am1eco {
        padding-left: 12px;
    }
}

@media (min-width: 744px) {
    .joy-am1eco {
        padding-left: 16px;
    }
}

.joy-am1eco {
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow: auto hidden;
    -webkit-box-align: center;
    align-items: center;
    scrollbar-width: none;
    padding-right: 16px;
}

.joy-1ja7f1b:disabled {
    pointer-events: none;
    cursor: default;
    --Icon-color: currentColor;
    color: #a4a4a8;
}

.joy-1s98pom {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(118, 118, 127, 0.15);
    margin: initial;
    margin-inline: initial;
    margin-block: var(--_Divider-inset);
    position: relative;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: 1px;
    block-size: initial;
    height: 22px;
    align-self: center;
}

.joy-1mupuz9.MuiSelect-sizeSm {
    --Select-minHeight: 32px;
}

.joy-1mupuz9:not([data-inverted-colors="false"]) {
    --Select-focusedHighlight: #3478ff;
}

.joy-1mupuz9 {
    --Select-radius: 8px;
    --Select-gap: 0.5rem;
    --Select-placeholderOpacity: 0.64;
    --Select-decoratorColor: #76767f;
    --Select-focusedThickness: 2px;
    --Select-focusedHighlight: #3478ff;
    --Select-indicatorColor: #76767f;
    --Select-minHeight: 2rem;
    --Select-paddingInline: 0.5rem;
    --Select-decoratorChildHeight: min(1.5rem, 2rem);
    --Icon-fontSize: 20px;
    --Select-decoratorChildOffset: min(calc(0.5rem - (2rem - 2 * 0px - min(1.5rem, 2rem)) / 2), 0.5rem);
    --_Select-paddingBlock: max((2rem - 2 * 0px - min(1.5rem, 2rem)) / 2, 0px);
    --Select-decoratorChildRadius: max(
        8px - 0px - var(--_Select-paddingBlock),
        min(var(--_Select-paddingBlock) + 0px, 4px)
    );
    --Button-minHeight: min(1.5rem, 2rem);
    --Button-paddingBlock: 0px;
    --IconButton-size: min(1.5rem, 2rem);
    --Button-radius: var(--Select-decoratorChildRadius);
    --IconButton-radius: var(--Select-decoratorChildRadius);
    box-sizing: border-box;
    min-height: 2rem;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffffff;
    padding-block: 2px;
    padding-inline: 0.5rem;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    --variant-borderWidth: 0px;
    box-shadow: none;
    padding: 0px 5px 0px 8px;
    min-width: 72px;
    max-width: 72px;
    height: 32px;
}

.joy-1mupuz9::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
}

.joy-1qmzz5g {
    border: 0px;
    outline: 0px;
    background: none;
    padding: 0px;
    font-size: inherit;
    color: inherit;
    align-self: stretch;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    font-family: inherit;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.joy-1qmzz5g::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 8px;
}

.joy-qvkxo9 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
}

.joy-1mupuz9 > .MuiSelect-indicator {
    display: flex;
    margin-left: 0px;
}

.joy-zasklh {
    --Icon-fontSize: 18px;
    --Icon-color: #76767f;
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    margin-inline-start: 0.5rem;
    margin-inline-end: calc(0.5rem / -4);
}

.joy-1pr8u0m.MuiSelect-sizeSm {
    --Select-minHeight: 32px;
}

.joy-1pr8u0m:not([data-inverted-colors="false"]) {
    --Select-focusedHighlight: #3478ff;
}

.joy-1pr8u0m {
    --Select-radius: 8px;
    --Select-gap: 0.5rem;
    --Select-placeholderOpacity: 0.64;
    --Select-decoratorColor: #76767f;
    --Select-focusedThickness: 2px;
    --Select-focusedHighlight: #3478ff;
    --Select-indicatorColor: #76767f;
    --Select-minHeight: 2rem;
    --Select-paddingInline: 0.5rem;
    --Select-decoratorChildHeight: min(1.5rem, 2rem);
    --Icon-fontSize: 20px;
    --Select-decoratorChildOffset: min(calc(0.5rem - (2rem - 2 * 0px - min(1.5rem, 2rem)) / 2), 0.5rem);
    --_Select-paddingBlock: max((2rem - 2 * 0px - min(1.5rem, 2rem)) / 2, 0px);
    --Select-decoratorChildRadius: max(
        8px - 0px - var(--_Select-paddingBlock),
        min(var(--_Select-paddingBlock) + 0px, 4px)
    );
    --Button-minHeight: min(1.5rem, 2rem);
    --Button-paddingBlock: 0px;
    --IconButton-size: min(1.5rem, 2rem);
    --Button-radius: var(--Select-decoratorChildRadius);
    --IconButton-radius: var(--Select-decoratorChildRadius);
    box-sizing: border-box;
    min-height: 2rem;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffffff;
    padding-block: 2px;
    padding-inline: 0.5rem;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    --variant-borderWidth: 0px;
    box-shadow: none;
    padding: 0px 5px 0px 8px;
    min-width: 104px;
    max-width: 104px;
    height: 32px;
}

.joy-1pr8u0m::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
}

.joy-1pr8u0m > .MuiSelect-indicator {
    display: flex;
}

*,
::before,
::after {
    box-sizing: inherit;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.flog-svg-7 {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 20px;
    height: 20px;
    color: currentcolor;
}

.joy-vidjsr {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 36px;
    background: linear-gradient(to left, #ffffff, transparent);
    pointer-events: none;
}

.joy-w2e6ki {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(118, 118, 127, 0.15);
    margin: initial;
    margin-inline: var(--_Divider-inset);
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: initial;
    block-size: 1px;
}

.post-content,
.post-content div.fr-view {
    color: #202022;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.667;
}

@media (min-width: 744px) {
    .post-content,
    .post-content div.fr-view {
        font-size: 18px;
        line-height: 1.75;
    }
}

@media (min-width: 0px) {
    .joy-olnjwl {
        padding-top: 88px;
    }
}

@media (min-width: 744px) {
    .joy-olnjwl {
        padding-top: 96px;
    }
}

.joy-olnjwl {
    --Icon-color: #76767f;
    --ListItem-stickyBackground: #ffffff;
    --Sheet-background: #ffffff;
    background-color: #ffffff;
    position: relative;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    --variant-borderWidth: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 740px;
    margin: 0px auto;
}

@media (min-width: 0px) {
    .joy-1vob6kv {
        padding-top: 20px;
    }
}

@media (min-width: 744px) {
    .joy-1vob6kv {
        padding-top: 52px;
    }
}

@media (min-width: 0px) {
    .joy-1vob6kv {
        gap: 8px;
    }
}

@media (min-width: 744px) {
    .joy-1vob6kv {
        gap: 12px;
    }
}

.joy-1vob6kv {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.joy-18drzqh.MuiTextarea-variantPlain {
    background-color: transparent;
}

.joy-18drzqh:not([data-inverted-colors="false"]) {
    --Textarea-focusedHighlight: #3478ff;
}

@media (min-width: 0px) {
    .joy-18drzqh {
        font-size: 24px;
    }
}

@media (min-width: 744px) {
    .joy-18drzqh {
        font-size: 32px;
    }
}

.joy-18drzqh {
    --Textarea-radius: 8px;
    --Textarea-gap: 0.5rem;
    --Textarea-decoratorColor: #76767f;
    --Textarea-focused: 0;
    --Textarea-focusedHighlight: #3478ff;
    --Textarea-minHeight: 2.25rem;
    --Textarea-paddingBlock: calc(0.375rem - 0px);
    --Textarea-paddingInline: 0.75rem;
    --Textarea-decoratorChildHeight: min(1.75rem, 2.25rem);
    --Icon-fontSize: 24px;
    --_Textarea-paddingBlock: max((2.25rem - 2 * 0px - min(1.75rem, 2.25rem)) / 2, 0px);
    --Textarea-decoratorChildRadius: max(
        8px - 0px - var(--_Textarea-paddingBlock),
        min(var(--_Textarea-paddingBlock) + 0px, 4px)
    );
    --Button-minHeight: min(1.75rem, 2.25rem);
    --Button-paddingBlock: 0px;
    --IconButton-size: min(1.75rem, 2.25rem);
    --Button-radius: var(--Textarea-decoratorChildRadius);
    --IconButton-radius: var(--Textarea-decoratorChildRadius);
    box-sizing: border-box;
    min-width: 0px;
    cursor: text;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0.75rem;
    padding-block: calc(0.375rem - 0px);
    border-radius: 8px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    color: #202022;
    --variant-borderWidth: 0px;
    background-color: #ffffff;
    box-shadow: none;
    --Textarea-placeholderColor: #76767f;
    --Textarea-placeholderOpacity: 1;
    flex: 1 1 0%;
    font-weight: 600;
    line-height: 1.333;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    --Textarea-focusedThickness: 0;
}

.joy-18drzqh::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
    box-shadow: inset 0 0 0 calc(0 * 0) #3478ff;
}

.flog-textarea-1 {
    resize: none;
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    padding-inline-end: 0.75rem;
    flex: 1 1 auto;
    align-self: stretch;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.joy-f1gulv.MuiTextarea-variantPlain {
    background-color: transparent;
}

.joy-f1gulv:not([data-inverted-colors="false"]) {
    --Textarea-focusedHighlight: #3478ff;
}

.joy-f1gulv {
    --Textarea-radius: 8px;
    --Textarea-gap: 0.5rem;
    --Textarea-decoratorColor: #76767f;
    --Textarea-focused: 0;
    --Textarea-focusedHighlight: #3478ff;
    --Textarea-minHeight: 2.25rem;
    --Textarea-paddingBlock: calc(0.375rem - 0px);
    --Textarea-paddingInline: 0.75rem;
    --Textarea-decoratorChildHeight: min(1.75rem, 2.25rem);
    --Icon-fontSize: 24px;
    --_Textarea-paddingBlock: max((2.25rem - 2 * 0px - min(1.75rem, 2.25rem)) / 2, 0px);
    --Textarea-decoratorChildRadius: max(
        8px - 0px - var(--_Textarea-paddingBlock),
        min(var(--_Textarea-paddingBlock) + 0px, 4px)
    );
    --Button-minHeight: min(1.75rem, 2.25rem);
    --Button-paddingBlock: 0px;
    --IconButton-size: min(1.75rem, 2.25rem);
    --Button-radius: var(--Textarea-decoratorChildRadius);
    --IconButton-radius: var(--Textarea-decoratorChildRadius);
    box-sizing: border-box;
    min-width: 0px;
    cursor: text;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0.75rem;
    padding-block: calc(0.375rem - 0px);
    border-radius: 8px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    color: #202022;
    --variant-borderWidth: 0px;
    background-color: #ffffff;
    box-shadow: none;
    --Textarea-placeholderColor: #76767f;
    --Textarea-placeholderOpacity: 1;
    flex: 1 1 0%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    --Textarea-focusedThickness: 0;
}

.joy-f1gulv::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
    box-shadow: inset 0 0 0 0 #3478ff;
}

@media (min-width: 0px) {
    .joy-1ca6dqr {
        height: 20px;
    }
}

@media (min-width: 744px) {
    .joy-1ca6dqr {
        height: 28px;
    }
}

.joy-1ca6dqr {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    position: relative;
    display: block;
}

.fr-box.fr-basic {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

div.fr-toolbar.fr-basic {
    display: none;
}

.fr-toolbar.fr-bottom,
.fr-toolbar.fr-top {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.fr-toolbar.fr-top {
    top: 0;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.fr-toolbar {
    color: #222;
    background: #fff;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: left;
    border: 1px solid #ccc;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    padding-bottom: 0;
    -webkit-transition: padding-bottom 0.5s;
    -moz-transition: padding-bottom 0.5s;
    -ms-transition: padding-bottom 0.5s;
    -o-transition: padding-bottom 0.5s;
}

.fr-toolbar .fr-newline {
    clear: both;
    display: block;
    content: "";
    margin-left: 9px;
    margin-right: 9px;
    background: #efefef;
    height: 1px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
}

.fr-box.fr-basic .fr-wrapper {
    top: 0;
    left: 0;
}

.fr-wrapper {
    position: relative;
    z-index: 1;
}

.fr-box.fr-basic .fr-element {
    box-sizing: border-box;
    overflow-x: visible;
    min-height: 60px;
    text-align: left;
}

.post-content div.fr-view {
    padding-left: 16px;
    padding-right: 16px;
}

.fr-view {
    word-wrap: break-word;
}

.fr-element {
    background: transparent;
    position: relative;
    z-index: 2;
    -webkit-user-select: auto;
}

.fr-element,
.fr-element:focus {
    outline: 0 solid transparent;
}

.fr-basic .fr-element > :first-child {
    margin-top: 0 !important;
}

.post-content p {
    margin-bottom: 0;
    min-height: 1.7em;
}

@media (min-width: 744px) {
    .fr-element > * {
        margin-top: 18px;
    }
}

.fr-element > * {
    margin-top: 16px;
    margin-bottom: 0;
}

.post-content div.fr-view > :last-child {
    margin-bottom: 0;
}

.post-content span[style] {
    font-size: inherit !important;
    text-decoration: inherit;
}

.fr-wrapper .fr-placeholder {
    position: absolute;
    font-size: 14px;
    color: #76767f;
    font-family: sans-serif;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.fr-wrapper:after {
    clear: both;
    display: block;
    content: "";
    height: 0;
}

.fr-second-toolbar:empty {
    min-height: calc(10px);
    position: relative;
    margin-top: calc(-1px);
    z-index: 2;
}

.fr-second-toolbar {
    display: none;
}

.fr-quick-insert {
    position: absolute;
    z-index: 100;
    white-space: nowrap;
    padding-right: 10px;
    box-sizing: content-box;
}

.fr-box .fr-visible a.fr-floating-btn {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.file .inner:not(.btn),
.post-content a:not(.btn) {
    color: inherit;
}

.post-content a:not(.btn) {
    text-decoration: underline;
}

.post-content a:not([href]),
.post-content a[href=""] {
    color: currentColor !important;
    text-decoration: none !important;
    cursor: auto !important;
}

.fr-box a.fr-floating-btn {
    box-shadow: 0 2px 8px -2px hsla(0, 0%, 8%, 0.08), 0 6px 12px -2px hsla(0, 0%, 8%, 0.08);
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 40px;
    width: 40px;
    background: #ffffff;
    color: #202022;
    -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
    -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
    -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
    -o-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
    outline: none;
    left: 0;
    top: 0;
    line-height: 40px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    text-align: center;
    display: block;
    box-sizing: border-box;
    border: none;
    pointer-events: auto;
}

.fr-qi-helper.open {
    display: flex !important;
}

.fr-quick-insert.fr-on a.fr-floating-btn svg {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

.fr-quick-insert a.fr-floating-btn svg {
    margin: 8px;
    width: 24px;
    height: 24px;
}

.fr-box a.fr-floating-btn i,
.fr-box a.fr-floating-btn svg {
    font-size: 14px;
    line-height: 40px;
}

.fr-box a.fr-floating-btn:hover {
    background-color: rgba(0, 0, 0, 0.1); /* 배경색을 회색으로 바꿈 */
}

.fr-box a.fr-floating-btn svg {
    -webkit-transition: transform 0.2s ease 0s;
    -moz-transition: transform 0.2s ease 0s;
    -ms-transition: transform 0.2s ease 0s;
    -o-transition: transform 0.2s ease 0s;
    fill: #202022;
}

.fr-qi-helper {
    position: absolute;
    z-index: 3;
    padding-left: 20px;
    white-space: nowrap;
    display: flex;
}

.fr-qi-helper a.fr-btn.fr-floating-btn.fr-size-1 {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.fr-qi-helper a.fr-btn.fr-floating-btn {
    text-align: center;
    padding: 10px;
    display: flex;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.fr-qi-helper a.fr-btn.fr-floating-btn svg {
    fill: #202022;
}

.fr-box a.fr-floating-btn.fr-btn + .fr-btn {
    margin-left: 10px;
}

.joy-dpawjy {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    top: -52px;
    height: 76px;
    left: 0px;
    right: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;
}

.joy-1o8es1f {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px auto;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    position: relative;
    display: block;
    flex: 1 1 0%;
    min-height: 70px;
    width: 100%;
    max-width: 740px;
}

.joy-1c6iqpe {
    display: flex;
    flex-direction: row;
    gap: 12px;
    box-shadow: var(--joy-shadow-md);
    border-radius: 8px;
    padding: 4px 8px;
    background-color: var(--joy-palette-background-popup);
    visibility: hidden;
    pointer-events: auto;
}

.joy-1g4jath.MuiIconButton-sizeLg {
    --Icon-fontSize: calc(48px / 1.714);
    min-width: 48px;
    min-height: 48px;
}

.joy-1g4jath {
    --Icon-margin: initial;
    --Icon-color: #76767f;
    --Icon-fontSize: calc(48px / 1.571);
    --CircularProgress-size: 28px;
    --CircularProgress-thickness: 4px;
    min-width: 48px;
    min-height: 48px;
    font-size: 18px;
    padding-inline: 0.375rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: initial;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
    --IconButton-size: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    pointer-events: auto;
}

.joy-i72iq8 {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: currentcolor;
}

@media (min-width: 992px) {
    .joy-2l1lnm {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media (min-width: 0px) {
    .joy-fyk9j9 {
        margin-top: 20px;
    }
}

@media (min-width: 744px) {
    .joy-fyk9j9 {
        margin-top: 28px;
    }
}

.joy-fyk9j9 {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(118, 118, 127, 0.15);
    margin-top: initial;
    margin-bottom: initial;
    margin-inline: var(--_Divider-inset);
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: initial;
    block-size: 1px;
    margin-left: 20px;
    margin-right: 20px;
}
