/* 2025.04.04 조승찬 */
body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    /* padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom); */
}
body {
    margin: 0;
    color: #202022;
    /* font-family: ; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.joy-1op0iun {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 0px) {
    .joy-1op0iun {
        gap: 28px;
    }
}
@media (min-width: 744px) {
    .joy-1op0iun {
        gap: 100px;
    }
}
/* 헤더 여기서 부터 */
.joy-tezs3f {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid;
    border-color: 118 118 127;
}
.joy-4z3nb4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1144px;
}
@media (min-width: 0px) {
    .joy-4z3nb4 {
        height: 48px;
        padding: 4px 8px;
    }
}
@media (min-width: 744px) {
    .joy-4z3nb4 {
        height: 64px;
        padding: 12px 32px;
    }
}
.joy-1cig87j {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-1cig87j {
        padding-left: 8px;
    }
}
@media (min-width: 744px) {
    .joy-1cig87j {
        padding-left: 0px;
    }
}
.joy-orlzs5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 0px) {
    .joy-orlzs5 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-orlzs5 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.joy-1ap5t40 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: var(--Icon-margin);
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #76767f;
    width: 128px;
    height: 24px;
    color: black;
}
.joy-1ccw5g0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 0px) {
    .joy-1ccw5g0 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 744px) {
    .joy-1ccw5g0 {
        display: none;
    }
}
.joy-194s26x {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: var(--Icon-margin);
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #76767f;
    width: 95.99994000000001px;
    height: 18px;
    color: black;
}
@media (min-width: 0px) {
    .joy-jhsfw2 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-jhsfw2 {
        display: block;
    }
}
.joy-1rg69f3 {
    --Icon-margin: initial;
    --Icon-color: #76767f;
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    /* margin: var(--Button-margin); */
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    --variant-borderWidth: 1px;
    color: #202022;
    border: ipx solid;
    border-color: #dadadc;
    font-weight: 500;
}
.joy-1rg69f3.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}
/* 헤더 여기까지 */
.joy-1mi3tt8 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.joy-164608b {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 0px) {
    .joy-164608b {
        padding: 24px 16px 64px;
        max-width: 100%;
    }
}
@media (min-width: 744px) {
    .joy-164608b {
        padding: 40px 0px 64px;
        max-width: 320px;
    }
}
.joy-1vgm313 {
    --Icon-fontSize: calc(1em * 1.5); 
    margin-top: 16px; 
    margin-right: 16px; 
    margin-left: 16px; 
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; 
    line-height: 1.5;  
    color: #121212;  
    font-weight: 400;  
    margin-bottom: 32px;
    font-size: 24px;  
}
.joy-16pwk1u {
    --Icon-fontSize: calc(1em * 1.5);
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #A4A4A8;
    margin: 0px;
    white-space: pre-line;
}
.joy-1r0myzc {
    --Input-radius: 8px;
    --Input-gap: 0.5rem;
    --Input-decoratorColor: #76767F;
    --Input-focused: 0;
    --Input-focusedHighlight: #3478FF;
    --Input-minHeight: 2.25rem;
    --Input-paddingInline: 0.75rem;
    --Input-decoratorChildHeight: min(1.75rem, 2.25rem);
    --Icon-fontSize: 24px;
    --Input-decoratorChildOffset: min(calc(0.75rem - (2.25rem - 2 * 1px - 1.75rem) / 2), 0.75rem);
    --_Input-paddingBlock: max((2.25rem - 2 * 1px - 1.75rem) / 2, 0px);
    --Input-decoratorChildRadius: max(8px - 1px - var(--_Input-paddingBlock), min(var(--_Input-paddingBlock) + 1px, 8px / 2));
    --Button-minHeight: 1.75rem;
    --Button-paddingBlock: 0px;
    --IconButton-size: 1.75rem;
    --Button-radius: var(--Input-decoratorChildRadius);
    --IconButton-radius: var(--Input-decoratorChildRadius);
    box-sizing: border-box;
    min-width: 0px;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    --variant-borderWidth: 1px;
    background-color: #F9F9FA;
    box-shadow: none;
    --Input-focusedThickness: 1px;
    --Input-placeholderColor: #A4A4A8;
    --Input-placeholderOpacity: 1;
    margin-top: 28px;
    padding-inline: 0.75rem;
    border-radius: 8px;
}
.joy-1r0myzc:not([data-skip-inverted-colors]) {
    --Input-focusedHighlight: #3478FF;
}
.joy-1r0myzc.MuiInput-sizeMd {
    --Input-minHeight: 40px;
}
.joy-1r0myzc::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: calc(1px * -1);
    box-shadow: inset 0 0 0 1px #3478FF;
}
.joy-1u0jcuo {
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    flex: 1 1 0%;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
}
.joy-iiw9gr {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 2.25rem;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #FFFFFF;
    background-color: #3478FF;
    font-weight: 500;
    margin-top: 32px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    border-radius: 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
}
.joy-iiw9gr.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}
/* 모달창 시작 */

.joy-8ijia1 {
    background-color: rgba(200, 200, 200, 0.4);
    --unstable_popup-zIndex: calc(1000 + 1);
    position: fixed;
    z-index: 1000;
    inset: 0px;
}
.joy-1u2eg80 {
    --Icon-color: #666666;
    --Card-childRadius: max((8px - 1px) - 20px, min(20px / 2, (8px - 1px) / 2));
    --AspectRatio-radius: var(--Card-childRadius);
    --unstable_actionMargin: calc(-1 * 1px);
    --unstable_actionRadius: 8px;
    --CardCover-radius: calc(8px - 1px);
    --CardOverflow-offset: calc(-1 * 20px);
    --CardOverflow-radius: calc(8px - 1px);
    --Divider-inset: calc(-1 * 20px);
    --Card-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    --variant-borderWidth: 1px;
    box-sizing: border-box;
    box-shadow: 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    min-width: min(calc(100vw - 2 * 20px), 300px);
    position: absolute;
    --ModalDialog-vertical-padding: 44px;
    --Card-padding: 20px;
    top: var(--ModalDialog-vertical-padding);
    left: 50%;
    width: 320px;
    height: 215px;
    transform: translateX(-50%);
    max-height: calc(100% - 4 * 20px);
    padding: 20px;
    border-radius: 8px;
    border-color: #CCCCCC;
    outline: 0px;
    border-width: 0px;
    gap: 0px;
}
.joy-196uakj {
    --Icon-fontSize: calc(1em * 1.25);
    display: flex;
    gap: clamp(4px, 0.375em, 0.75rem);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: inherit;
}
.joy-18efofp {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(32px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    --variant-borderWidth: 0px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    border-radius: 6px;
    color: #999999;
}
.joy-c6bb0f {
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
}
.joy-c6bb0f {
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
}
.joy-gh62p7 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    padding: 12px 20px;
    gap: 8px;
    margin-left: calc(-1 * 20px);
    margin-right: calc(-1 * 20px);
    margin-bottom: calc(-1 * 20px);
    --Button-radius: unset;
    --IconButton-radius: unset;
}
.joy-1u2eg80 .MuiDialogActions-root {
    padding-top: 8px;
    padding-bottom: 20px;
}
.joy-10kto0v {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: 24px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 36px;
    font-size: 14px;
    padding-block: 6px;
    padding-inline: 16px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #FFFFFF;
    background-color: #3478FF;
    font-weight: 500;
}
.joy-gh62p7 > :not(.MuiIconButton-root) {
    flex: 0 0 auto;
}
.joy-1cscwg4 {
    display: flex;
    flex-direction: column;
    z-index: 1;
    column-gap: 20px;
    row-gap: max(2px, calc(0.1875 * 20px));
    margin-left: calc(-1 * 20px);
    margin-right: calc(-1 * 20px);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
    color: #666666;
    flex: 9999 1 0%;
    overflow: auto;
    padding: 20px;
}
/* 모달창 끝 */