/* 2025.04.04 조승찬 */
body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    /* padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom); */
}
body {
    margin: 0;
    color: #202022;
    /* font-family: ; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.joy-1op0iun {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 0px) {
    .joy-1op0iun {
        gap: 28px;
    }
}
@media (min-width: 744px) {
    .joy-1op0iun {
        gap: 100px;
    }
}
/* 헤더 여기서 부터 */
.joy-tezs3f {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid;
    border-color: 118 118 127;
}
.joy-4z3nb4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1144px;
}
@media (min-width: 0px) {
    .joy-4z3nb4 {
        height: 48px;
        padding: 4px 8px;
    }
}
@media (min-width: 744px) {
    .joy-4z3nb4 {
        height: 64px;
        padding: 12px 32px;
    }
}
.joy-1cig87j {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-1cig87j {
        padding-left: 8px;
    }
}
@media (min-width: 744px) {
    .joy-1cig87j {
        padding-left: 0px;
    }
}
.joy-orlzs5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 0px) {
    .joy-orlzs5 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-orlzs5 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.joy-1ap5t40 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: var(--Icon-margin);
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #76767f;
    width: 128px;
    height: 24px;
    color: black;
}
.joy-1ccw5g0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 0px) {
    .joy-1ccw5g0 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 744px) {
    .joy-1ccw5g0 {
        display: none;
    }
}
.joy-194s26x {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: var(--Icon-margin);
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #76767f;
    width: 95.99994000000001px;
    height: 18px;
    color: black;
}
@media (min-width: 0px) {
    .joy-jhsfw2 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-jhsfw2 {
        display: block;
    }
}
.joy-1rg69f3 {
    --Icon-margin: initial;
    --Icon-color: #76767f;
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    /* margin: var(--Button-margin); */
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    --variant-borderWidth: 1px;
    color: #202022;
    border: ipx solid;
    border-color: #dadadc;
    font-weight: 500;
}
.joy-1rg69f3.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}
/* 헤더 여기까지 */
.joy-yd5exj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-yd5exj {
        padding: 0 16px;
    }
}
@media (min-width: 744px) {
    .joy-yd5exj {
        padding: 0;
    }
}
.joy-1c04f01 {
    width: 100%;
}
@media (min-width: 0px) {
    .joy-1c04f01 {
        max-width: 100%;
    }
}
@media (min-width: 744px) {
    .joy-1c04f01 {
        max-width: 320px;
    }
}
.joy-6r2fzw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 32px;
}
.joy-jvi4ox {
    --Icon-fontSize: calc(1em * 1.33334);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.33334;
    letter-spacing: -0.025em;
    color: #202022;
    font-size: 24px;
}
.joy-1i43dhb {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.joy-k54e1s {
    --unstable_RadioGroup-margin: 0.5rem 0;
    --FormLabel-alignSelf: flex-start;
    --FormLabel-margin: 0 0 0.375rem 0;
    --FormHelperText-margin: 0.375rem 0 0 0;
    display: flex;
    position: relative;
    flex-direction: column;
    --FormLabel-asteriskColor: #3478ff;
    --FormLabel-fontSize: 14px;
    --FormLabel-lineHeight: 125%;
    --FormHelperText-fontSize: 14px;
    --FormHelperText-lineHeight: 150%;
}
.joy-11hmm2q {
    --Icon-fontSize: calc(125% * 1em);
    -webkit-tap-highlight-color: transparent;
    align-self: flex-start;
    display: flex;
    gap: 2px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 125%;
    color: #202022;
    margin: 0 0 0.375rem;
}
.joy-i4zyc6 {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: none;
    padding-inline: 0.75rem;
    border-radius: 8px;
    border-color: #dadadc;
    border: 1px solid #e0e0e0;
}
.joy-i4zyc6:not([data-skip-inverted-colors]) {
    --_Input-focusedHighlight: #3478ff;
    --Input-focusedHighlight: #3478ff;
}
.joy-i4zyc6.MuiInput-sizeMd {
    --Input-minHeight: 40px;
}
.joy-i4zyc6::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: calc(1px * -1);
    box-shadow: #3478ff;
}
.joy-f7n8og.MuiInput-sizeMd {
    --Input-minHeight: 40px;
}
.joy-f7n8og:not([data-skip-inverted-colors]) {
    --_Input-focusedHighlight: #E74C3C;
    --Input-focusedHighlight: #E74C3C;
}
.joy-f7n8og {
    --Input-radius: 8px;
    --Input-gap: 0.5rem;
    --Input-decoratorColor: #76767F;
    --Input-focused: 0;
    --Input-focusedHighlight: #E74C3C;
    --Input-minHeight: 2.25rem;
    --Input-paddingInline: 0.75rem;
    --Input-decoratorChildHeight: min(1.75rem, 2.25rem);
    --Icon-fontSize: 24px;
    --Input-decoratorChildOffset: min(calc(0.75rem - (2.25rem - 2 * 1px - 1.75rem) / 2), 0.75rem);
    --_Input-paddingBlock: max((2.25rem - 2 * 1px - 1.75rem) / 2, 0px);
    --Input-decoratorChildRadius: max(8px - 1px - var(--_Input-paddingBlock), min(var(--_Input-paddingBlock) + 1px, 8px / 2));
    --Button-minHeight: 1.75rem;
    --Button-paddingBlock: 0px;
    --IconButton-size: 1.75rem;
    --Button-radius: var(--Input-decoratorChildRadius);
    --IconButton-radius: var(--Input-decoratorChildRadius);
    box-sizing: border-box;
    min-width: 0px;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #E74C3C;
    font-weight: 400;
    --variant-borderWidth: 1px;
    background-color: #F9F9FA;
    box-shadow: none;
    --Input-focusedThickness: 1px;
    --Input-placeholderColor: #A4A4A8;
    --Input-placeholderOpacity: 1;
    padding-inline: 0.75rem;
    border-radius: 8px;
    border-color: #F1948A;
}
.joy-1u0jcuo {
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    flex: 1 1 0%;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
}
.joy-fqt4w4 {
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    flex: 1 1 0%;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
}
.joy-tob0ta {
    --Button-margin: 0 calc(min(calc(0.75rem - (40px - 2 * 1px - min(1.75rem, 40px)) / 2), 0.75rem) * -1) 0 0;
    --IconButton-margin: 0 calc(min(calc(0.75rem - (40px - 2 * 1px - min(1.75rem, 40px)) / 2), 0.75rem) * -1) 0 0;
    --Icon-margin: 0 calc(0.75rem / -4) 0 0;
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    margin-inline-start: 0.5rem;
    color: #76767f;
    cursor: initial;
}
.joy-xrh13s {
    --Icon-margin: initial;
    --Icon-color: #202022;
    --Icon-fontSize: calc(2.25rem / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 2.25rem;
    min-height: 2.25rem;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; /* joy-fontFamily-body */
    font-weight: 500;
    margin: auto;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
}
.joy-xrh13s.MuiIconButton-sizeMd {
    --Icon-fontSize: calc(min(1.75rem, 40px) / 1.667);
    min-width: min(1.75rem, 40px);
    min-height: min(1.75rem, 40px);
}
.joy-4rp8fm {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 16px;
    width: 1em;
    height: 1em;
    color: currentcolor;
}
.joy-7l9mu1 {
    --Icon-fontSize: calc(1.42858 * 1em);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 12px;
    line-height: 1.42858;
    color: #a4a4a8;
    margin: 0px;
}
.joy-1821gv5 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.joy-ui1oji {
    display: flex;
    gap: 4px;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.joy-l3odn9 {
    font-size: 12px;
    gap: 0.5rem;
    position: relative;
    display: inline-flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1rem;
    color: #202022;
}
.joy-12qidki {
    box-sizing: border-box;
    border-radius: 2px;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #202022;
    border: 1px solid #dadadc;
    background-color: #ffffff;
}
.joy-kit57i {
    border-radius: 2px;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}
.joy-1jj0cvj {
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.joy-1fjtzvx {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}
.joy-l3odn9 {
    font-size: 14px;
    gap: 0.5rem;
    position: relative;
    display: inline-flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1rem;
    color: #202022;
}
.joy-1g74u8a {
    --Icon-fontSize: calc(1em * 1);
    margin: var(--Typography-margin, 0px);
    display: inline;
    font-size: var(--Typography-fontSize, inherit);
}
.joy-l3odn9 ~ * {
    --FormHelperText-margin: 0 0 0 1.5rem;
}
.joy-1ago8wr {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    text-decoration: underline;
}
.joy-y1gt6f {
    margin-top: 40px;
}
.joy-1u9v5nm {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #ffffff;
    background-color: #3478ff;
    font-weight: 500;
    width: 100%;
}
.joy-1u9v5nm.Mui-disabled {
    pointer-events: none;
    cursor: default;
    color: #76767f;
    background-color: #f2f2f3;
}
.joy-1u9v5nm.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}
.joy-nlg5qs {
    margin-inline: auto;
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: #dadadc;
    inline-size: initial;
    block-size: 1px;
    margin: 32px 0px 20px;
}
.joy-a3xbg1 {
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #a4a4a8;
    display: inline;
    cursor: pointer;
}
/* 포커스 일 때 파란색 */
.joy-i4zyc6.Mui-focused {
    border-color: #3478ff; 
}

.joy-i4zyc6.Mui-error {
    border-color: #e74c3c; 
    color:#e74c3c;
}

/* 모달 부분 */
.joy-8ijia1 {
    --unstable_popup-zIndex: calc(1000 + 1);
    position: fixed;
    z-index: 1000;
    inset: 0px;
}

.joy-qivq4z {
    z-index: -1;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    backdrop-filter: none;
    animation: 0.2s ease-in-out 0s 1 normal forwards running animation-os2n7p;
}
.joy-1u2eg80 {
    background-color: #f9f9fa;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    min-width: min(calc(100vw - 40px), 300px);
    position: absolute;
    top: 44px;
    left: 50%;
    width: 320px;
    transform: translateX(-50%);
    max-height: calc(100% - 80px);
    padding: 20px;
    border-radius: 12px;
    border-color: #dadadc;
    outline: 0px;
    border-width: 0px;
    gap: 0px;
}
.joy-196uakj {
    display: flex;
    gap: clamp(4px, 0.375em, 0.75rem);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33334;
    color: inherit;
}
.joy-18efofp {
    min-width: 32px;
    min-height: 32px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: auto;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    border-radius: 8px;
    color: #62626a;
}
.joy-c6bb0f {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
}
.joy-1cscwg4 {
    display: flex;
    flex-direction: column;
    z-index: 1;
    column-gap: 20px;
    row-gap: max(2px, calc(0.1875 * 20px));
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: -20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.33334;
    color: #62626a;
    flex: 9999 1 0%;
    overflow: auto;
    padding: 20px;
}
.joy-gh62p7 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    padding: 12px 20px;
    gap: 8px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
}
.joy-1u2eg80 .MuiDialogActions-root {
    padding-top: 8px;
    padding-bottom: 20px;
}
.joy-10kto0v {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: auto;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #ffffff;
    background-color: #3478ff;
    font-weight: 500;
}
.joy-gh62p7 > :not(.MuiIconButton-root) {
    flex: 0 0 auto;
}
.joy-10kto0v.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}
/* 모달 끝 */
/* 에러 메세지 빨간 글씨 */
.joy-7l9mu1 {
    --Icon-fontSize: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.42858;
    color: #A4A4A8;
    margin: 0px;
}
.Mui-error.joy-7l9mu1 {
    color: red;
}
/* 회원 가입 파란색 */
.joy-1u9v5nm.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}
.joy-1u9v5nm {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #FFFFFF;
    background-color: #3478FF;
    font-weight: 500;
    width: 100%;
}

/* 밑줄 hover */
.joy-a3xbg1:hover {
    text-decoration: underline;
}