/* 2025.04.06 조승찬 */
body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    /* padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom); */
}
body {
    margin: 0;
    color: #202022;
    /* font-family: ; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.joy-91keta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100dvh;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/* 헤더 여기서 부터 */
.joy-1uhcj3y {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    background-color: #FFFFFF;
}
.joy-6fg7h3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1144px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
@media (min-width: 0px) {
    .joy-6fg7h3 {
        padding: 4px 8px;
        height: 48px;
    }
}
@media (min-width: 744px) {
    .joy-6fg7h3 {
        padding: 12px 32px;
        height: 64px;
    }
}
.joy-172p1tb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-172p1tb {
        gap: 0px;
    }
}
@media (min-width: 744px) {
    .joy-172p1tb {
        gap: 8px;
    }
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.joy-8e2zzx {
    cursor: pointer;
}
@media (min-width: 0px) {
    .joy-8e2zzx {
        display: none;
        padding: 11px 8px;
    }
}
@media (min-width: 744px) {
    .joy-8e2zzx {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 8px 0 0;
    }
}
.joy-10kto0v.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}

.joy-o2qig1 {
    cursor: pointer;
    padding: 8px;
}
@media (min-width: 0px) {
    .joy-o2qig1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 744px) {
    .joy-o2qig1 {
        display: none;
    }
}
.joy-ktyhl0 {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
    width: 24px;
    height: 24px;
    color: #1976D2;
}
.joy-ktyhl0 g > rect {
    fill: #1976D2;
}
.joy-ktyhl0 clipPath rect {
    fill: #F2F2F3;
}
.joy-g8lkuf {
    position: absolute;
    margin: 0px;
    z-index: 500;
}
@media (min-width: 0px) {
    .joy-g8lkuf {
        left: 32px;
        padding: 8.75px 12px;
    }
}
@media (min-width: 744px) {
    .joy-g8lkuf {
        top: 60px;
        left: 0;
        padding: 7.5px 8px;
    }
}
.joy-go6dvz {
    font-size: calc(1em * 1.25);
    margin: 20px 0px 0px 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: #202022;
    text-decoration: none;
    white-space: nowrap;
}
.joy-1gbkjcr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-1gbkjcr {
        gap: 4px;
    }
}
@media (min-width: 744px) {
    .joy-1gbkjcr {
        gap: 8px;
    }
}
@media (min-width: 0px) {
    .joy-1pelmf7 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-1pelmf7 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.joy-46rdsn {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2.25rem;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: #F2F2F3;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 500;
}
.joy-46rdsn.MuiMenuButton-sizeMd {
    min-height: 40px;
}
.joy-zcktug {
    margin: 0 0 0 calc(0.5rem / -2);
    display: inherit;
    margin-right: 0.5rem;
}
.joy-4rp8fm {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
}

.joy-oklso3 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(36px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    padding-inline: 4px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    --variant-borderWidth: 0px;
    z-index: 1;
    border-radius: 4px;
    color: #808080;
    --ModalClose-inset: 16px;
    --IconButton-size: 32px;
    position: relative;
    top: 0px;
    right: 0px;
}
@media (min-width: 0px) {
    .joy-oklso3 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-oklso3 {
        display: flex;
    }
}


.joy-xrh13s {
    margin: initial;
    color: #202022;
    font-size: calc(2.25rem / 1.5);
    min-width: 2.25rem;
    min-height: 2.25rem;
    padding-inline: 0.25rem;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.joy-xrh13s.MuiIconButton-sizeMd {
    font-size: calc(40px / 1.667);
    min-width: 40px;
    min-height: 40px;
}
.joy-hp68mp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.joy-vii58x {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-vii58x {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-vii58x {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.joy-1ejuko2 {
    min-height: 1.25rem;
    padding-inline: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 0 0 0 0px #F2F2F3;
}
.joy-13y1pdr {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #F2F2F3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #1976D2;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
    white-space: nowrap;
}
.joy-fucy34 {
    min-height: 0.75rem;
    padding-inline: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 0 0 0 0px #F2F2F3;
}
.joy-cvdrot {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #F2F2F3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #D32F2F;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
    white-space: nowrap;
}
.joy-cvdrot.MuiBadge-invisible {
    transform: scale(0) translateX(50%) translateY(-50%);
}
.joy-akorg6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-1c4f13u {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-1c4f13u {
        display: initial;
    }
}
.joy-t47jog {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
}
.joy-t47jog.MuiMenuButton-sizeSm {
    min-height: 32px;
}
.joy-t47jog {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
}
.joy-t47jog.MuiMenuButton-sizeSm {
    min-height: 32px;
}
.joy-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.joy-1wgv3md {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.joy-1j6tmez {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}
.joy-14llzfj {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --IconButton-size: 36px;
    --Icon-fontSize: calc(36px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    padding-inline: 4px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
}
.joy-14llzfj.MuiIconButton-sizeMd {
    --Icon-fontSize: calc(40px / 1.667);
    min-width: 40px;
    min-height: 40px;
}

@media (min-width: 0px) {
    .joy-174j8o {
        display: initial;
    }
}
@media (min-width: 744px) {
    .joy-174j8o {
        display: none;
    }
}
.joy-vl6dak {
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: calc(32px * 0.4375);
    line-height: 1;
    width: 32px;
    height: 32px;
    margin-inline-start: initial;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}
.joy-18ontzg {
    font-size: 1.25em;
    color: currentColor;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(25, 118, 210, 0.72);
    user-select: none;
    appearance: none;
    position: relative;
}
.joy-p6k0bu {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #F2F2F3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #1976D2;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    white-space: nowrap;
}
/* 헤더 여기까지 */
/* 2단 헤더 시작 */
.joy-1j46z6j {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 240px;
}
.joy-ynouu1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.joy-t8dhj4 {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    background-color: #FFFFFF;
    z-index: 499;
    border-bottom: 1px solid;
    border-color: rgba(118 118 127 / 0.15);
}
@media (min-width: 0px) {
    .joy-t8dhj4 {
        top: 48px;
    }
}
@media (min-width: 744px) {
    .joy-t8dhj4 {
        min-height: 56px;
        top: 88px;
    }
}
.joy-hq5y8t {
    --ListDivider-gap: 0.375rem;
    --ListItem-minHeight: 2.25rem;
    --ListItem-paddingY: 0.25rem;
    --ListItem-paddingX: 0.75rem;
    --ListItem-gap: 0.625rem;
    --ListItemDecorator-size: 2.5rem;
    --Icon-fontSize: 24px;
    --List-gap: 0px;
    --List-nestedInsetStart: 0px;
    --ListItem-paddingLeft: 0.75rem;
    --ListItem-paddingRight: 0.75rem;
    --unstable_List-childRadius: calc(max(8px - 12px, min(12px / 2, 8px / 2)) - 0px);
    --ListItem-radius: calc(max(8px - 12px, min(12px / 2, 8px / 2)) - 0px);
    --ListItem-startActionTranslateX: calc(0.5 * 0.75rem);
    --ListItem-endActionTranslateX: calc(-0.5 * 0.75rem);
    margin: initial;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    padding-block: 12px;
    padding-inline: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    --unstable_List-borderWidth: 0px;
    overflow-x: auto;
    max-width: 1144px;
    margin-inline: auto;
    padding-block: 0px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    scrollbar-width: none;
}
@media (min-width: 0px) {
    .joy-hq5y8t {
        padding-inline: 16px;
        gap: 16px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
}
@media (min-width: 744px) {
    .joy-hq5y8t {
        padding-inline: 24px;
        gap: 24px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
.joy-yhpm4r:not([hidden]) {
    --_ListItem-display: flex;
}

.joy-yhpm4r {
    --ListItemButton-marginInline: calc(-1 * 12px) calc(-1 * 12px);
    --ListItemButton-marginBlock: calc(-1 * 8px);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-inline: 0px;
    --unstable_actionRadius: calc(8px - 0px);
    box-sizing: border-box;
    display: flex;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 8px;
    padding-block-end: 8px;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    margin-block-start: 0px;
    min-block-size: 36px;
    --variant-borderWidth: 0px;
    color: #333333;
    padding-inline: 4px;
    border-bottom: 2px solid;
    border-color: #666666;
    -webkit-text-decoration: none;
    text-decoration: none;
}
@media (min-width: 0px) {
    .joy-yhpm4r {
        height: 48px;
    }
}

@media (min-width: 744px) {
    .joy-yhpm4r {
        height: 56px;
    }
}

.joy-hq5y8t.MuiList-sizeMd {
    --ListItem-minHeight: 40px;
}
.joy-1t2bmje {
    --ListItemButton-marginInline: calc(-1 * 12px) calc(-1 * 12px);
    --ListItemButton-marginBlock: calc(-1 * 8px);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-inline: 0px;
    --unstable_actionRadius: calc(8px - 0px);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 8px;
    padding-block-end: 8px;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    margin-block-start: 0px;
    min-block-size: 36px;
    --variant-borderWidth: 0px;
    color: #333333;
    padding-inline: 4px;
    border-bottom: 2px solid;
    border-color: #F5F5F5;
    -webkit-text-decoration: none;
    text-decoration: none;
}
@media (min-width: 0px) {
    .joy-1t2bmje {
        height: 48px;
    }
}
@media (min-width: 744px) {
    .joy-1t2bmje {
        height: 56px;
    }
}
.joy-1t2bmje:not([hidden]) {
    --_ListItem-display: flex;
}
.joy-r8ur5l {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    color: #B3B3B3;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
}
.joy-7rqbdn {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
}
/* 2단 헤더 끝 */
.joy-4w2mif {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.joy-19lg5tp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    max-width: 640px;
}
.joy-j7qwjs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.joy-km35io {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(52, 120, 255, 0.72);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    text-decoration-color: currentcolor;
    display: flex;
    gap: 12px;
    height: 88px;
    padding-inline: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0;
}
.joy-1h6s40g {
    --Icon-color: #666666;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: #333333;
    width: 48px;
    height: 48px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    box-shadow: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --variant-borderWidth: 0px;
    background-color: #E0E0E0;
    width: 48px;
    height: 48px;
    --Avatar-size: 48px;
}
.joy-m4qvi5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.joy-1xojswp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 12px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.joy-1vpjpt8 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.joy-ybx592 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #B3B3B3;
    white-space: nowrap;
}
.joy-1tafbme {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.joy-1vora7y {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
    font-weight: 400;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.joy-1tlsmja {
    --Divider-thickness: 1px;
    --Divider-lineColor: #E0E0E0;
    margin: 0;
    margin-inline: 16px;
    margin-block: 0;
    position: relative;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: #E0E0E0;
    inline-size: initial;
    block-size: 1px;
}
/* 더보기 버튼 */
.joy-1ht3mas {
    margin-block: 40px;
}
.joy-jmtomr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 6px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.joy-1qzh9tq {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --IconButton-size: 32px;
    --Icon-fontSize: calc(32px / 1.6);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    background-color: #E0E0E0;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: normal;
}
.joy-1qzh9tq.MuiIconButton-sizeSm {
    --Icon-fontSize: calc(32px / 1.6);
    min-width: 32px;
    min-height: 32px;
}
/* 더보기 호버 */
.joy-1qzh9tq:hover {
    color: #333333; 
    background-color: #CCCCCC; 
}

/* 목록 hover */
.joy-km35io:hover {
    background-color: #e0e0e2; /* 기존 색상보다 살짝 더 진한 색 */
    color: #1a1a1d; /* 글자 색상도 조금 더 진하게 설정 */
}

/* 모달창 시작 */

.joy-8ijia1 {
    background-color: rgba(200, 200, 200, 0.4);
    --unstable_popup-zIndex: calc(1000 + 1);
    position: fixed;
    z-index: 1000;
    inset: 0px;
}
.joy-qivq4z {
    z-index: -1;
    position: fixed;
    inset: 0px;
    background-color: #00000080; 
    -webkit-tap-highlight-color: transparent;
    backdrop-filter: none;
    animation: 0.2s ease-in-out 0s 1 normal forwards running animation-os2n7p;
}
.joy-l3kvea {
    --Icon-color: #666666;
    --Card-childRadius: max((var(--Card-radius) - var(--variant-borderWidth, 0px)) - var(--Card-padding), min(var(--Card-padding) / 2, (var(--Card-radius) - var(--variant-borderWidth, 0px)) / 2));
    --AspectRatio-radius: var(--Card-childRadius);
    --unstable_actionMargin: calc(-1 * var(--variant-borderWidth, 0px));
    --unstable_actionRadius: var(--Card-radius);
    --CardCover-radius: calc(var(--Card-radius) - var(--variant-borderWidth, 0px));
    --CardOverflow-offset: calc(-1 * var(--Card-padding));
    --CardOverflow-radius: calc(var(--Card-radius) - var(--variant-borderWidth, 0px));
    --Divider-inset: calc(-1 * var(--Card-padding));
    --Card-radius: 8px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    --variant-borderWidth: 1px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    min-width: min(calc(100vw - 40px), 300px);
    position: absolute;
    --ModalDialog-vertical-padding: 44px;
    top: var(--ModalDialog-vertical-padding);
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100% - 80px);
    --Card-padding: 0 !important;
    border-radius: 8px;
    border-color: #CCCCCC;
    outline: 0px;
    border-width: 0px;
    gap: 0px;
    padding: 0px !important;
}
@media (min-width: 0px) {
    .joy-l3kvea {
        height: 100%;
    }
}
@media (min-width: 744px) {
    .joy-l3kvea {
        height: min(90%, 879px);
    }
}
@media (min-width: 744px) {
    .joy-l3kvea.MuiModalDialog-sizeMd {
        width: 500px;
    }
}
.joy-h3xwdq {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #FFFFFF;
}
@media (min-width: 0px) {
    .joy-h3xwdq {
        padding: 4px 8px;
    }
}
@media (min-width: 744px) {
    .joy-h3xwdq {
        padding: 13px 16px 9px 20px;
    }
}
.joy-1r5to7m {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.joy-10qpqor {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(36px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    --IconButton-size: 40px;
    margin-right: 4px;
    padding-inline: 4px;
    padding-block: 0px;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
@media (min-width: 0px) {
    .joy-10qpqor {
        display: flex;
    }
}
@media (min-width: 744px) {
    .joy-10qpqor {
        display: none;
    }
}
.joy-10qpqor.MuiIconButton-sizeMd {
    --Icon-fontSize: calc(40px / 1.667);
    min-width: 40px;
    min-height: 40px;
}
.joy-uv29nh {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none;
    text-underline-offset: 0.15em;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 8px 0px 0px;
    border-radius: 4px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
}
.joy-f7z5ru {
    --Icon-color: #666666;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #333333;
    margin-inline-start: 0;
    box-shadow: none;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    --variant-borderWidth: 0px;
    background-color: #E0E0E0;
    width: 40px;
    height: 40px;
    --Avatar-size: 40px;
}

.joy-1u2eg80 {
    --Icon-color: #666666;
    --Card-childRadius: max((8px - 1px) - 20px, min(20px / 2, (8px - 1px) / 2));
    --AspectRatio-radius: var(--Card-childRadius);
    --unstable_actionMargin: calc(-1 * 1px);
    --unstable_actionRadius: 8px;
    --CardCover-radius: calc(8px - 1px);
    --CardOverflow-offset: calc(-1 * 20px);
    --CardOverflow-radius: calc(8px - 1px);
    --Divider-inset: calc(-1 * 20px);
    --Card-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    --variant-borderWidth: 1px;
    box-sizing: border-box;
    box-shadow: 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    min-width: min(calc(100vw - 2 * 20px), 300px);
    position: absolute;
    --ModalDialog-vertical-padding: 44px;
    --Card-padding: 20px;
    top: var(--ModalDialog-vertical-padding);
    left: 50%;
    width: 320px;
    height: 175px;
    transform: translateX(-50%);
    max-height: calc(100% - 4 * 20px);
    padding: 20px;
    border-radius: 8px;
    border-color: #CCCCCC;
    outline: 0px;
    border-width: 0px;
    gap: 0px;
}
.joy-196uakj {
    --Icon-fontSize: calc(1em * 1.25);
    display: flex;
    gap: clamp(4px, 0.375em, 0.75rem);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: inherit;
}
.joy-18efofp {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(32px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    --variant-borderWidth: 0px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    border-radius: 6px;
    color: #999999;
}
.joy-c6bb0f {
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
}

.joy-oklso3 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(36px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    padding-inline: 4px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    --variant-borderWidth: 0px;
    z-index: 1;
    border-radius: 4px;
    color: #808080;
    --ModalClose-inset: 16px;
    --IconButton-size: 32px;
    position: relative;
    top: 0px;
    right: 0px;
}
@media (min-width: 0px) {
    .joy-oklso3 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-oklso3 {
        display: flex;
    }
}
.joy-uabdzs {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    flex: 1 1 auto;
    background-color: #F9F9FA;
}
.joy-1fptnyw {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 16px;
}
.joy-1age63q {
    width: 100%;
    display: flex;
}
.joy-bwcods {
    --Divider-thickness: 1px;
    --Divider-lineColor: #E0E0E0;
    margin: 0;
    margin-inline: 0;
    position: relative;
    align-self: stretch;
    --Divider-gap: 8px;
    --Divider-childPosition: 50%;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    border: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    flex: 1 1 0%;
    margin-block: auto;
}
.joy-bwcods::before, .joy-bwcods::after {
    position: relative;
    inline-size: initial;
    block-size: var(--Divider-thickness);
    background-color: #E0E0E0;
    content: "";
}
.joy-bwcods::before {
    margin-inline-end: min(var(--Divider-childPosition) * 999, var(--Divider-gap));
    margin-block-end: initial;
    flex-basis: var(--Divider-childPosition);
}
.joy-yvycrm {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #808080;
}
.joy-1udr1jv {
    display: flex;
    flex-flow: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 100%;
}
.joy-1y9kyp6 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}
.joy-e6pf26 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.joy-ozngwz.MuiIconButton-sizeSm {
    --Icon-fontSize: calc(32px / 1.6);
    min-width: 32px;
    min-height: 32px;
}
.joy-s1s0o1 {
    user-select: none;
    margin: var(--Icon-margin);
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: var(--Icon-fontSize, var(--joy-fontSize-xl2));
    width: 20px;
    height: 20px;
    color: currentcolor;
}
.joy-3diwkv {
    padding: 8px 14px;
    overflow: hidden;
    background-color: #3478FF;
    border-radius: 18px 4px 16px 18px;
}
@media (min-width: 0px) {
    .joy-3diwkv {
        max-width: 230px;
    }
}
@media (min-width: 744px) {
    .joy-3diwkv {
        max-width: 297px;
    }
}
.joy-1kp8wdt {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #FFFFFF;
    white-space: pre-line;
    overflow-wrap: anywhere;
}
.joy-9nvto4 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #808080;
}
.joy-ozngwz {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(32px / 1.6);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    border-radius: 4px;
    margin-right: 8px;
    padding-inline: 2px;
    padding-block: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.joy-e6pf26 button {
    visibility: hidden;
}
.joy-131bx5v {
    display: flex;
    flex-flow: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
}
.joy-kd81xj {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none;
    text-underline-offset: 0.15em;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: flex-start;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 8px 0px 0px;
    border-radius: 4px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
}
.joy-7tv6fu {
    --Icon-color: #666666;
    margin-inline-start: 0;
    box-shadow: none;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    --variant-borderWidth: 0px;
    color: #333333;
    background-color: #E0E0E0;
    width: 24px;
    height: 24px;
    --Avatar-size: 24px;
}
.joy-6wq7gy {
    padding: 8px 14px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 4px 18px 18px 16px;
}
@media (min-width: 0px) {
    .joy-6wq7gy {
        max-width: 230px;
    }
}
@media (min-width: 744px) {
    .joy-6wq7gy {
        max-width: 297px;
    }
}
.joy-a0hgnt {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #333333;
    white-space: pre-line;
    overflow-wrap: anywhere;
}
.joy-1dgehg0 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(32px / 1.6);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    border-radius: 4px;
    margin-left: 8px;
    padding-inline: 2px;
    padding-block: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.joy-1dgehg0.MuiIconButton-sizeSm {
    --Icon-fontSize: calc(32px / 1.6);
    min-width: 32px;
    min-height: 32px;
}
.joy-12udg69 {
    --Divider-thickness: 1px;
    --Divider-lineColor: #E0E0E0;
    --_Divider-inset: 0px;
    margin: 0;
    margin-block: 0;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: #E0E0E0;
    inline-size: initial;
    block-size: 1px;
    margin-inline: 0px;
}
.joy-1m2yi2j {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 8px;
}
@media (min-width: 0px) {
    .joy-1m2yi2j {
        padding: 8px 12px;
    }
}
@media (min-width: 744px) {
    .joy-1m2yi2j {
        padding: 12px;
    }
}
.joy-spcbp9 {
    --Textarea-radius: 4px;
    --Textarea-gap: 0.5rem;
    --Textarea-decoratorColor: #666666;
    --Textarea-focused: 0;
    --Textarea-focusedHighlight: #3578E5;
    --Textarea-minHeight: 36px;
    --Textarea-paddingBlock: calc(6px - var(--variant-borderWidth, 0px));
    --Textarea-paddingInline: 12px;
    --Textarea-decoratorChildHeight: min(28px, var(--Textarea-minHeight));
    --Icon-fontSize: 24px;
    --_Textarea-paddingBlock: max((var(--Textarea-minHeight) - 2 * var(--variant-borderWidth, 0px) - var(--Textarea-decoratorChildHeight)) / 2, 0px);
    --Textarea-decoratorChildRadius: max(var(--Textarea-radius) - var(--variant-borderWidth, 0px) - var(--_Textarea-paddingBlock), min(var(--_Textarea-paddingBlock) + var(--variant-borderWidth, 0px), var(--Textarea-radius) / 2));
    --Button-minHeight: var(--Textarea-decoratorChildHeight);
    --Button-paddingBlock: 0px;
    --IconButton-size: var(--Textarea-decoratorChildHeight);
    --Button-radius: var(--Textarea-decoratorChildRadius);
    --IconButton-radius: var(--Textarea-decoratorChildRadius);
    box-sizing: border-box;
    min-width: 0px;
    min-height: var(--Textarea-minHeight);
    cursor: text;
    position: relative;
    display: flex;
    padding-inline-start: var(--Textarea-paddingInline);
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    --variant-borderWidth: 1px;
    background-color: #FAFAFA;
    box-shadow: none;
    --Textarea-focusedThickness: 1px;
    --Textarea-placeholderColor: #808080;
    --Textarea-placeholderOpacity: 1;
    flex-direction: row;
    width: 100%;
}

.joy-spcbp9:not([data-inverted-colors="false"]) {
    --Textarea-focusedHighlight: var(--_Textarea-focusedHighlight, var(--joy-palette-focusVisible));
}
.joy-spcbp9.MuiTextarea-variantOutlined {
    border: 1px solid #CCCCCC;
    background-color: transparent;
    border-radius: 18px;
}
.joy-spcbp9::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: calc(var(--variant-borderWidth, 0px) * -1);
    box-shadow: inset 0 0 0 calc(var(--Textarea-focused) * var(--Textarea-focusedThickness)) var(--Textarea-focusedHighlight);
}
.joy-1qmqn4r {
    resize: none;
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    padding-inline-end: 0.75rem;
    flex: 1 1 auto;
    align-self: stretch;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}
.joy-spcbp9 .MuiTextarea-textarea {
    padding-top: 8px;
    padding-right: 8px;
    max-height: 120px;
}
/* 포커스 일 때 파란색 */
.joy-spcbp9.Mui-focused {
    border-color: #3478ff; 
}

.joy-18i8jzi {
    display: flex;
    margin-inline-start: calc(16px - 12px); /* 예: paddingBlock = 16px, paddingInline = 12px */
    margin-inline-end: 16px; /* 예: paddingBlock = 16px */
    margin-block-start: 8px; /* 예: Textarea-gap = 8px */
    color: #666;
    cursor: default;
}
.joy-spcbp9 .MuiTextarea-endDecorator {
    align-self: flex-end;
    margin: 0px;
}
.joy-ut6eac {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: calc(36px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    padding-inline: 4px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #FFFFFF;
    background-color: #3578E5;
    border-radius: 50%;
}
.joy-ut6eac:disabled {
    pointer-events: none;
    cursor: default;
    --Icon-color: currentColor;
    color: #B0B0B0;
    background-color: #F0F0F0;
}
.joy-ut6eac.MuiIconButton-sizeMd {
    --Icon-fontSize: calc(40px / 1.667);
    min-width: 30px;
    min-height: 30px;
    margin-bottom: 2px;
    margin-right: 4px;
}
.joy-bwcods {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    gap: 8px; /* 선과 텍스트 간격 */
  }
  
  .joy-bwcods::before,
  .joy-bwcods::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #E0E0E0;
  }

.joy-11cui4a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.joy-gh62p7 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    padding: 12px 20px;
    gap: 8px;
    margin-left: calc(-1 * 20px);
    margin-right: calc(-1 * 20px);
    margin-bottom: calc(-1 * 20px);
    --Button-radius: unset;
    --IconButton-radius: unset;
}
.joy-1u2eg80 .MuiDialogActions-root {
    padding-top: 8px;
    padding-bottom: 20px;
}
.joy-10kto0v {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: 24px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 36px;
    font-size: 14px;
    padding-block: 6px;
    padding-inline: 16px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #FFFFFF;
    background-color: #3478FF;
    font-weight: 500;
}
.joy-gh62p7 > :not(.MuiIconButton-root) {
    flex: 0 0 auto;
}
.joy-1cscwg4 {
    display: flex;
    flex-direction: column;
    z-index: 1;
    column-gap: 20px;
    row-gap: max(2px, calc(0.1875 * 20px));
    margin-left: calc(-1 * 20px);
    margin-right: calc(-1 * 20px);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
    color: #666666;
    flex: 9999 1 0%;
    overflow: auto;
    padding: 20px;
}
.joy-1bxt4bb {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: 24px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 36px;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #333333;
    background-color: #E0E0E0;
    font-weight: 500;
}
.joy-gh62p7 > :not(.MuiIconButton-root) {
    flex: 0 0 auto;
}
.joy-1bxt4bb.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}
/* 모달창 버튼 호버 */
.joy-10kto0v:hover {
    background-color: #0056b3;
    color: #ffffff;
}
.joy-1bxt4bb:hover {
    background-color: #d6d6d6;
    color: #333333;
}
/* 모달창 끝 */