/* 2025.04.07 조승찬 */
body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    /* padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom); */
}
body {
    margin: 0;
    color: #202022;
    /* font-family: ; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.joy-91keta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100dvh;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/* 헤더 여기서 부터 */
.joy-1uhcj3y {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}
.joy-6fg7h3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    max-width: 1144px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
@media (min-width: 0px) {
    .joy-6fg7h3 {
        padding: 4px 8px;
        height: 48px;
    }
}
@media (min-width: 744px) {
    .joy-6fg7h3 {
        padding: 12px 32px;
        height: 64px;
    }
}
.joy-172p1tb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-172p1tb {
        gap: 0px;
    }
}
@media (min-width: 744px) {
    .joy-172p1tb {
        gap: 8px;
    }
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.joy-8e2zzx {
    cursor: pointer;
}
@media (min-width: 0px) {
    .joy-8e2zzx {
        display: none;
        padding: 11px 8px;
    }
}
@media (min-width: 744px) {
    .joy-8e2zzx {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 8px 0 0;
    }
}
.joy-10kto0v.MuiButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}

.joy-o2qig1 {
    cursor: pointer;
    padding: 8px;
}
@media (min-width: 0px) {
    .joy-o2qig1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 744px) {
    .joy-o2qig1 {
        display: none;
    }
}
.joy-ktyhl0 {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
    width: 24px;
    height: 24px;
    color: #1976d2;
}
.joy-ktyhl0 g > rect {
    fill: #1976d2;
}
.joy-ktyhl0 clipPath rect {
    fill: #f2f2f3;
}
.joy-g8lkuf {
    position: absolute;
    margin: 0px;
    z-index: 500;
}
@media (min-width: 0px) {
    .joy-g8lkuf {
        left: 32px;
        padding: 8.75px 12px;
    }
}
@media (min-width: 744px) {
    .joy-g8lkuf {
        top: 60px;
        left: 0;
        padding: 7.5px 8px;
    }
}
.joy-go6dvz {
    font-size: calc(1em * 1.25);
    margin: 20px 0px 0px 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: #202022;
    text-decoration: none;
    white-space: nowrap;
}
.joy-1gbkjcr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-1gbkjcr {
        gap: 4px;
    }
}
@media (min-width: 744px) {
    .joy-1gbkjcr {
        gap: 8px;
    }
}
@media (min-width: 0px) {
    .joy-1pelmf7 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-1pelmf7 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.joy-46rdsn {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2.25rem;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: #f2f2f3;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 500;
}
.joy-46rdsn.MuiMenuButton-sizeMd {
    min-height: 40px;
}
.joy-zcktug {
    margin: 0 0 0 calc(0.5rem / -2);
    display: inherit;
    margin-right: 0.5rem;
}
.joy-4rp8fm {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
}
.joy-xrh13s {
    margin: initial;
    color: #202022;
    font-size: calc(2.25rem / 1.5);
    min-width: 2.25rem;
    min-height: 2.25rem;
    padding-inline: 0.25rem;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.joy-xrh13s.MuiIconButton-sizeMd {
    font-size: calc(40px / 1.667);
    min-width: 40px;
    min-height: 40px;
}
.joy-hp68mp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.joy-vii58x {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-vii58x {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-vii58x {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.joy-1ejuko2 {
    min-height: 1.25rem;
    padding-inline: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 0 0 0 0px #f2f2f3;
}
.joy-13y1pdr {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #1976d2;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
}
.joy-fucy34 {
    min-height: 0.75rem;
    padding-inline: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 0 0 0 0px #f2f2f3;
}
.joy-cvdrot {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #d32f2f;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
}
.joy-cvdrot.MuiBadge-invisible {
    transform: scale(0) translateX(50%) translateY(-50%);
}
.joy-akorg6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-1c4f13u {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-1c4f13u {
        display: initial;
    }
}
.joy-t47jog {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
}
.joy-t47jog.MuiMenuButton-sizeSm {
    min-height: 32px;
}
.joy-t47jog {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
}
.joy-t47jog.MuiMenuButton-sizeSm {
    min-height: 32px;
}
.joy-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
@media (min-width: 0px) {
    .joy-174j8o {
        display: initial;
    }
}
@media (min-width: 744px) {
    .joy-174j8o {
        display: none;
    }
}
.joy-vl6dak {
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: calc(32px * 0.4375);
    line-height: 1;
    width: 32px;
    height: 32px;
    margin-inline-start: initial;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}
.joy-18ontzg {
    font-size: 1.25em;
    color: currentColor;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(25, 118, 210, 0.72);
    user-select: none;
    appearance: none;
    position: relative;
}
.joy-p6k0bu {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #1976d2;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
}
/* 헤더 여기까지 */
/* 2단 헤더 시작 */
.joy-1j46z6j {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 240px;
}
.joy-ynouu1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.joy-t8dhj4 {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffffff;
    z-index: 499;
    border-bottom: 1px solid;
    border-color: rgba(118 118 127 / 0.15);
}
@media (min-width: 0px) {
    .joy-t8dhj4 {
        top: 48px;
    }
}
@media (min-width: 744px) {
    .joy-t8dhj4 {
        min-height: 56px;
        top: 88px;
    }
}
.joy-hq5y8t {
    --ListDivider-gap: 0.375rem;
    --ListItem-minHeight: 2.25rem;
    --ListItem-paddingY: 0.25rem;
    --ListItem-paddingX: 0.75rem;
    --ListItem-gap: 0.625rem;
    --ListItemDecorator-size: 2.5rem;
    --Icon-fontSize: 24px;
    --List-gap: 0px;
    --List-nestedInsetStart: 0px;
    --ListItem-paddingLeft: 0.75rem;
    --ListItem-paddingRight: 0.75rem;
    --unstable_List-childRadius: calc(max(8px - 12px, min(12px / 2, 8px / 2)) - 0px);
    --ListItem-radius: calc(max(8px - 12px, min(12px / 2, 8px / 2)) - 0px);
    --ListItem-startActionTranslateX: calc(0.5 * 0.75rem);
    --ListItem-endActionTranslateX: calc(-0.5 * 0.75rem);
    margin: initial;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    padding-block: 12px;
    padding-inline: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    --unstable_List-borderWidth: 0px;
    overflow-x: auto;
    max-width: 1144px;
    margin-inline: auto;
    padding-block: 0px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    scrollbar-width: none;
}
@media (min-width: 0px) {
    .joy-hq5y8t {
        padding-inline: 16px;
        gap: 16px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
}
@media (min-width: 744px) {
    .joy-hq5y8t {
        padding-inline: 24px;
        gap: 24px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
.joy-yhpm4r:not([hidden]) {
    --_ListItem-display: flex;
}

.joy-yhpm4r {
    --ListItemButton-marginInline: calc(-1 * 12px) calc(-1 * 12px);
    --ListItemButton-marginBlock: calc(-1 * 8px);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-inline: 0px;
    --unstable_actionRadius: calc(8px - 0px);
    box-sizing: border-box;
    display: flex;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 8px;
    padding-block-end: 8px;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    margin-block-start: 0px;
    min-block-size: 36px;
    --variant-borderWidth: 0px;
    color: #333333;
    padding-inline: 4px;
    border-bottom: 2px solid;
    border-color: #666666;
    -webkit-text-decoration: none;
    text-decoration: none;
}
@media (min-width: 0px) {
    .joy-yhpm4r {
        height: 48px;
    }
}

@media (min-width: 744px) {
    .joy-yhpm4r {
        height: 56px;
    }
}

.joy-hq5y8t.MuiList-sizeMd {
    --ListItem-minHeight: 40px;
}
.joy-1t2bmje {
    --ListItemButton-marginInline: calc(-1 * 12px) calc(-1 * 12px);
    --ListItemButton-marginBlock: calc(-1 * 8px);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-inline: 0px;
    --unstable_actionRadius: calc(8px - 0px);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 8px;
    padding-block-end: 8px;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    margin-block-start: 0px;
    min-block-size: 36px;
    --variant-borderWidth: 0px;
    color: #333333;
    padding-inline: 4px;
    border-bottom: 2px solid;
    border-color: #f5f5f5;
    -webkit-text-decoration: none;
    text-decoration: none;
}
@media (min-width: 0px) {
    .joy-1t2bmje {
        height: 48px;
    }
}
@media (min-width: 744px) {
    .joy-1t2bmje {
        height: 56px;
    }
}
.joy-1t2bmje:not([hidden]) {
    --_ListItem-display: flex;
}
.joy-r8ur5l {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    color: #b3b3b3;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
}
.joy-7rqbdn {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
}
/* 2단 헤더 끝 */

.joy-4w2mif {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.joy-fqp2tg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 0px) {
    .joy-fqp2tg {
        padding-inline: 16px;
    }
}
@media (min-width: 744px) {
    .joy-fqp2tg {
        padding-inline: 24px;
    }
}
@media (min-width: 992px) {
    .joy-fqp2tg {
        max-width: 640px;
        padding-inline: 0px;
    }
}
.joy-17i91y7 {
    border-radius: 0.25rem;
    gap: 0.5rem;
    color: rgba(67, 60, 60, 0.64);
    opacity: 0.64;
    min-height: 2.25rem;
    padding-inline: 0.75rem;
    font-size: 1.5rem;
    box-shadow: none;
    border-radius: 20px;
    padding-left: 14px;
    background-color: #f2f2f2;
}
@media (min-width: 0px) {
    .joy-17i91y7 {
        margin-block: 16px 20px;
    }
}

@media (min-width: 744px) {
    .joy-17i91y7 {
        height: 40px;
        margin-block: 40px 32px;
    }
}
.joy-17i91y7:not([data-skip-inverted-colors]) {
    border-width: 1px;
    box-shadow: 0px 0px 0px #000, 0px 1px 2px 0px rgba(21, 21, 21, 0.08);
}
.joy-17i91y7.MuiInput-sizeMd {
    min-height: 40px;
}
.joy-17i91y7::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: inherit;
    margin: 0px; /* var(--variant-borderWidth)가 0px일 경우 */
    box-shadow: inset 0 0 0 0px #0000FF; /* 예를 들어, var(--Input-focusedHighlight)가 #0000FF일 경우 */
}
.joy-prz8ey {
    display: flex; /* inherit 대신 명시적 flex로 변경 */
    align-items: center;
    margin-inline-end: 0.5rem;
}
.joy-za5rna {
    margin-left: 2px; /* 왼쪽으로 2px 이동 */
    border: none; /* 테두리 선 제거 */
    background-color: #f2f2f2; /* 바탕색 설정 */
    color: #000000  !important; /* 글자색 설정 */
    flex: 1;
    min-width: 90%; /* 부모 요소 보다 작게 */
    outline: 0;
    padding: 0;
    font-family: inherit;
    font-size: 14px;
    font-style: inherit;
    font-weight: 600;
    line-height: inherit;
    text-overflow: ellipsis;
}
.joy-1w4q56z {
    color: #111111; 
    margin: 0; /* 불필요한 margin 제거 */
    width: 16px;
    height: 16px;
}

.joy-17i91y7 {
    display: flex;
    align-items: center;
    padding-left: 0.75rem; /* padding을 줄임 */
    box-shadow: none;
}
.joy-sgter1 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.joy-1nu1cbz {
    font-size: 16px;
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #000000; 
    color: #808080; 
}
.joy-e3pp4x {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-block-width: 1px;
    border-block-style: solid;
    border-color: rgba(118 118 127 / 0.15);
}
@media (min-width: 0px) {
    .joy-e3pp4x {
        margin-top: 14px;
    }
}
@media (min-width: 744px) {
    .joy-e3pp4x {
        margin-top: 20px;
    }
}
.joy-1hw15it {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 0px) {
    .joy-1hw15it {
        gap: 12px;
        padding-block: 20px;
    }
}
@media (min-width: 744px) {
    .joy-1hw15it {
        gap: 16px;
        padding-block: 24px;
    }
}
.joy-1hw15it * {
    -webkit-text-decoration: none;
    text-decoration: none;
}
.joy-w5a8kp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
}
@media (min-width: 0px) {
    .joy-w5a8kp {
        gap: 12px;
    }
}
@media (min-width: 744px) {
    .joy-w5a8kp {
        gap: 24px;
    }
}
.joy-16yrq9k {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}
.joy-1kkt86i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}
.joy-qs45i0 {
    font-size: 1.125rem;
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: #000000;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
@media (min-width: 0px) {
    .joy-qs45i0 {
        font-size: 1rem;
    }
}
@media (min-width: 744px) {
    .joy-qs45i0 {
        font-size: 1.125rem;
    }
}
.joy-efnxaq {
    font-size: 1rem;
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #000000;
    font-weight: 400;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
@media (min-width: 0px) {
    .joy-efnxaq {
        font-size: 0.875rem;
    }
}
@media (min-width: 744px) {
    .joy-efnxaq {
        font-size: 1rem;
    }
}
.joy-i9tg8j {
    font-size: 1rem;
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    color: #808080;
}
@media (min-width: 0px) {
    .joy-i9tg8j {
        font-size: 0.875rem;
    }
}
@media (min-width: 744px) {
    .joy-i9tg8j {
        font-size: 1rem;
    }
}
.joy-1q1zl3i {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 4px;
    row-gap: 8px;
    column-gap: 4px;
    width: 100%;
    overflow: auto;
    line-height: 28px;
    scrollbar-width: none;
    flex-wrap: wrap;
    overflow-y: hidden;
}
@media (min-width: 0px) {
    .joy-1q1zl3i {
        height: 20px;
    }
}
@media (min-width: 744px) {
    .joy-1q1zl3i {
        height: 24px;
    }
}
.joy-rtjsnx {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    overflow: hidden;
}
@media (min-width: 0px) {
    .joy-rtjsnx {
        width: 112px;
        min-width: 112px;
        height: 64px;
    }
}
@media (min-width: 744px) {
    .joy-rtjsnx {
        width: 144px;
        min-width: 144px;
        height: 81px;
    }
}
.joy-rtjsnx:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 1px solid rgba(0, 0, 0, 7.5%);
}
.joy-k2m8sx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.joy-1uop93y {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.joy-12vg8yv {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 123, 255, 1); /* Assuming the primary color */
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0.125rem; /* Small radius */
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(0, 123, 255, 0.72); /* Assuming outlined border color */
    position: relative;
}
@media (min-width: 0px) {
    .joy-12vg8yv {
        margin-right: 8px;
    }
}
@media (min-width: 744px) {
    .joy-12vg8yv {
        margin-right: 12px;
    }
}
.joy-auxif9 {
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 1.4rem; /* Calculated as 32px * 0.4375 */
    line-height: 1;
    color: #808080;
    width: 32px;
    height: 32px;
    margin-inline-start: 0;
    box-shadow: none; /* Placeholder if --Avatar-ring is not defined */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    background-color: #f5f5f5;
}
.joy-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.joy-1n1ctis {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}
.joy-ux2rns {
    font-size: 0.875rem;
    margin: 0px;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #000000;
    font-weight: 400;
    overflow: hidden;
}
@media (min-width: 0px) {
    .joy-ux2rns {
        font-size: 0.75rem;
    }
}
@media (min-width: 744px) {
    .joy-ux2rns {
        font-size: 0.875rem;
    }
}
.joy-1w8agmd {
    font-size: inherit;
    margin: 0px;
    display: inline;
    color: #000000;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
}
.joy-1mptf1r {
    font-size: inherit;
    margin: 0px;
    display: inline;
    color: #808080;
    padding-inline: 4px;
}
.joy-14ly3d9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    white-space: nowrap;
    overflow: auto;
    padding-right: 10px;
    scrollbar-width: none;
}
.joy-ktwjae {
    font-size: 0.875rem;
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #000000;
    font-weight: 400;
    color: #808080;
}
@media (min-width: 0px) {
    .joy-ktwjae {
        font-size: 0.75rem;
    }
}
@media (min-width: 744px) {
    .joy-ktwjae {
        font-size: 0.875rem;
    }
}
.joy-1mhz7hq {
    font-size: 0.875rem;
    margin: 0px;
    display: flex;
    align-items: center;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #808080;
    font-weight: 400;
    gap: 2px;
}
@media (min-width: 0px) {
    .joy-1mhz7hq {
        font-size: 0.75rem;
    }
}
@media (min-width: 744px) {
    .joy-1mhz7hq {
        font-size: 0.875rem;
    }
}
.joy-oqc71l {
    display: inline-flex;
    margin-inline-end: clamp(4px, 0.375em, 0.75rem);
}
.joy-1f3c280 {
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 1.5rem;
    color: #808080;
    color: currentcolor;
}
@media (min-width: 0px) {
    .joy-1f3c280 {
        width: 14px;
        height: 14px;
    }
}
@media (min-width: 744px) {
    .joy-1f3c280 {
        width: 16px;
        height: 16px;
    }
}
.joy-1uop93y:after {
    content: "";
    background: linear-gradient(to left, #ffffff, transparent);
    width: 10px;
    height: 42px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.joy-1ja7f1b {
    font-size: 0.875rem;
    padding-inline: 2px;
    padding-block: 0;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0px;
    border-radius: 0.25rem;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #333333;
    min-width: 32px;
    min-height: 32px;
}
.joy-1ja7f1b.MuiIconButton-sizeSm {
    font-size: 20px;
    min-width: 32px;
    min-height: 32px;
}
.joy-1i55knr {
    user-select: none;
    margin: 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 1.5rem;
    color: #808080;
    color: #0094FF; /* Assuming primary color */
}
/* 더보기 버튼 */
.joy-1ht3mas {
    margin-block: 40px;
}
.joy-jmtomr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 6px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.joy-1qzh9tq {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --IconButton-size: 32px;
    --Icon-fontSize: calc(32px / 1.6);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    background-color: #f5f5f5;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: normal;
}
.joy-1qzh9tq.MuiIconButton-sizeSm {
    --Icon-fontSize: calc(32px / 1.6);
    min-width: 32px;
    min-height: 32px;
}
/* 더보기 호버 */
.joy-1qzh9tq:hover {
    color: #333333;
    background-color: #cccccc;
}

